* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #ffeef8 0%, #ffe0f0 100%);
}

body {
  color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}
